$sans-stack: "Nimbus Sans L", Helvetica, Arial, sans-serif;
$serif-stack: "Nimbus Roman No9 L", "Times New Roman", times, serif;

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$green: rgba(51, 255, 153, 1);
$green-transparent: rgba(51, 255, 153, 0.9);

$transition: cubic-bezier(0.23, 1, 0.32, 1);
$transtion2: cubic-bezier(0.34, 1.56, 0.64, 1);

// 14
// 18
// 64
// 24

$font_size_small: 14px;
$font_size_normal: 18px;
$font_size_medium: 24px;
$font_size_large: 64px;

$margin: 20px;

$breakpoints: (
  "small": (
    max-width: 900px,
  ),
  "medium": (
    max-width: 1000px,
  ),
  "large": (
    max-width: 1600px,
  ),
  "short": (
    max-height: 600px,
  ),
);

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin screen-size($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
